<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center mt-2">
            <h1>THE ORDER HAS BEEN SUCCESSFULLY COMPLETED!</h1>
            <h5>WITHIN 10 MINUTES IT WILL APPEAR IN <a asp-controller="Order" asp-action="OrderIndex">YOUR ORDER HISTORY</a></h5>
        </div>
    </div>
</div>