@model Mgeek.Frontend.Models.AuthAPI.LoginRequestDto

<form method="post">
    <div class="container p-3">
        <div class="row text-center mb-1">
            <h1>Login</h1>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6 offset-xl-3 pb-2">
                <input asp-for="UserName" class="form-control" placeholder="login"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-12 col-xl-6 offset-xl-3 pb-2">
                <input asp-for="Password" class="form-control" type="password" placeholder="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12 col-xl-6 offset-xl-3 pb-2">
                <h5 style="color: darkred">@ViewBag.Message</h5>
            </div>
            <div class="col-12 col-xl-6 offset-xl-3 pb-2">
                <button type="submit" class="form-control btn btn-outline-primary" value="Submit">Continue</button>
            </div>
            <div class="col-12 col-xl-6 offset-xl-3 pb-2">
                <a asp-action="Register">Don't have an account? Register!</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
