<div class="col-12 mt-1">
    <a asp-controller="Product" asp-action="SmartphoneCreate" class="btn btn-outline-primary">
        <i class="fa-solid fa-trash-can"></i> Add smartphone
    </a>
</div>

<div class="col-12 mt-1">
    <a asp-controller="Product" asp-action="LaptopCreate" class="btn btn-outline-primary">
        <i class="fa-solid fa-trash-can"></i> Add laptop
    </a>
</div>